body {
    margin: 0
}
#main-index {
    background-color: grey
}
.hallo {
    color: #fff;
    text-align: center;
}
.flex {
    display: flex;
    height: 200px;
    padding: 20px;
    text-align: center
}
.kiri {
    width: 50%;
    background: yellow;
}
.kanan {
    width: 50%;
    background: green
}