#header {
	border: 1px solid black;
	background-color: lightblue;
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;
}

.contoh {
	background-color: #5F9EA0
	width: 100px;
	border: 10px solid green;
	padding: 25px;
	margin: 25px;
}