body {
    background-color: lightblue;
}

h1 {
    background-color: green;
}

h2 {
    background-color: green;
    color: red;
    margin: 10px;
    font-size: 200px;
}

p {
    background-color: yellow;
    font-size: 100px;
    position: 
}